<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
          <h2 class="mb-0"><i class="bi bi-lightning-charge me-2"></i>RxJS Examples</h2>
        </div>
        <div>
            <button class="btn btn-outline-primary" (click)="ejemplo01()" type="button">Ej1. Obtener la lista</button>
            <button class="btn btn-outline-primary" (click)="ejemplo02()" type="button">Ej2. Obtener una persona aleatoria</button>
            <button class="btn btn-outline-primary" (click)="ejemplo03()" type="button">Ej3. Obtener el número</button>
            <button class="btn btn-outline-primary" (click)="ejemplo04()" type="button">Ej4. Obtener los números</button>
            <button class="btn btn-outline-primary" (click)="ejemplo05()" type="button">Ej5. setTimeout</button>
            <button class="btn btn-outline-primary" (click)="ejemplo06()" type="button">Ej6. Merge</button>
            <button class="btn btn-outline-primary" (click)="ejemplo07()" type="button">Ej7. Filter</button>
            <button class="btn btn-outline-primary" (click)="ejemplo08()" type="button">Ej8. Map</button>
            <button class="btn btn-outline-primary" (click)="ejemplo09()" type="button">Ej9. 2 streams, unsubscribe</button>
            <button class="btn btn-outline-primary" (click)="ejemplo10()" type="button">Ej10. Subject</button>
            <button class="btn btn-outline-primary" (click)="ejemplo11()" type="button">Ej11. BehaviorSubject</button>
            <button class="btn btn-outline-primary" (click)="ejemplo12()" type="button">Ej12.</button>
        </div>
        <!-- <div id="area"> -->
          <!-- <h2>Esto es una área para hacer double clicks</h2> -->
          <!-- <h3>Has hecho {{ counterClicks }}</h3> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>