<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
          <h2 class="mb-0"><i class="bi bi-lightning-charge me-2"></i>RxJS Examples</h2>
        </div>
        <div>
            <button class="btn btn-outline-primary" (click)="ejemplo01()" type="button">Ejemplo 1</button>
            <button class="btn btn-outline-primary" (click)="ejemplo02()" type="button">Ejemplo 2</button>
            <button class="btn btn-outline-primary" (click)="ejemplo03()" type="button">Ejemplo 3</button>
            <button class="btn btn-outline-primary" (click)="ejemplo04()" type="button">Ejemplo 4</button>
            <button class="btn btn-outline-primary" (click)="ejemplo05()" type="button">Ejemplo 5</button>
            <button class="btn btn-outline-primary" (click)="ejemplo06()" type="button">Ejemplo 6</button>
            <!-- <button class="btn btn-outline-primary" (click)="ejemplo07()" type="button">Ejemplo 7</button> -->
        </div>
      </div>
    </div>
  </div>
</div>